<div class="page-content" style="width: 65rem; margin-top: 0;">
    <div class="header" style="margin-top: 0;">Controlador Ususairo</div>
    <div class="content-categories">
      <div class="label-wrapper">
        <input class="nav-item" name="nav" type="radio" id="opt-1">
        <label class="category" for="opt-1">{{rutes.rute1}}</label>
      </div>
      <div class="label-wrapper">
        <input class="nav-item" name="nav" type="radio" id="opt-2" checked>
        <label class="category" for="opt-2">{{rutes.rute2}}</label>
      </div>
      <div class="label-wrapper">
        <input class="nav-item" name="nav" type="radio" id="opt-2" checked>
        <label class="category" for="opt-2">{{rutes.rute3}}</label>
      </div>
    </div>