.content-games {
    margin: 2rem 7rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 80vh;
  
    @media (max-width: 900px) {
      margin: 1rem;
      min-height: 70vh;
    }
  
    @media (max-width: 600px) {
      margin: 0.5rem 0.2rem;
      min-height: 60vh;
    }
  }
  
  .game-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .game-modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #4a5568;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    z-index: 10;
  
    &:hover {
      color: #ef4444;
      transform: scale(1.1);
    }
  }
  