<div style="display: flex; flex-direction: column; width: auto; height: 90vh;">
    <app-main-container></app-main-container>
    <div style="display: flex; width: 100%; height: 100%; padding: 10px;">
        <mat-tab-group style="width: 60rem;">
            <mat-tab label="Lista Usuarios"> 
                <app-user-list></app-user-list>
            </mat-tab>
            <mat-tab label="Registrar Usuarios"> 
                <app-record-user></app-record-user>
            </mat-tab>
            <!-- <mat-tab label="Roles Usuarios"></mat-tab> -->
          </mat-tab-group>
        
    </div>

</div>


