<!-- <section class="openModal mt-1" [style.display]="alertEdit">
<div [style]="" class="" style="width: 100%; height: 3rem">
<div class="alert alert-danger d-flex justify-content-center" style="width: 100%; height: 100%;" role="alert">
<div class="d-flex justify-content-center" style="width: 100%; height: 100%;">
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
</svg>
<p style="margin-left: 5px;">Registro exitoso</p>
</div>
</div>
</div>
</section> -->



<div style="height: 30rem; overflow: hidden;" class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                </div>  
            </div>    
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cedula</th>
                        <th>Rol</th>
                        <th>Estatus</th>
                        <th>Actions</th>
                    </tr>    
                </thead>    
                <tbody>
                    @for (items of cantidadUsuarios; track $index) {
                    <tr>
                        <td>{{usuarios.value[$index].name}}</td>
                        <td>{{usuarios.value[$index].cedula}}</td>
                        <td>{{usuarios.value[$index].role}}</td>
                        <td>{{usuarios.value[$index].state}}</td>
                        <td>

                            <form>
                            <button for="buttonEdit" type="button" (click)="openModalEdit()" (click)="getReturnIdEdit(usuarios.value[$index]._id)" >
                                <svg id="buttonEdit" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>  
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </button>    

                            <button style="margin-left: 5px;" (click)="openModal()" (click)="getReturnId(usuarios.value[$index]._id)" type="button">
                                <svg id="buttonDetails" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>  
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </button>           
                            </form>  

                        </td>    
                    </tr>    
                }    
                </tbody>
            </table>       

        </div>    
        </div>







<!-- Modal getUser-->

<div 
  class="custom-modal-overlay" 
  *ngIf="modalDetails" 
  (click)="closeModal()"
>
  <div  style="padding: 1rem;"
    class="custom-modal-content animate-drop" 
    (click)="$event.stopPropagation()"
  >
    <div class="custom-modal-close" (click)="closeModal()">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>

    </div>
    <div style="width: 100%; height: 6rem; display: flex; justify-content: center;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
    </div>
    <div class="mt-2 custom-modal-title d-flex justify-content-center">
      <h6>Detalles del usuario</h6>
    </div>
    <div class="custom-modal-body" style="margin-top: 20px;">
      <!-- Aquí puedes mostrar los datos del usuario -->
      <p><b>Nombre:</b> {{user.name}}</p>
      <p><b>Cédula:</b> {{user.cedula}}</p>
      <p><b>Usuario:</b> {{user.user}}</p>
      <p><b>Email:</b> {{user.email}}</p>
      <p><b>Rol:</b> {{user.role}}</p>
      <p><b>Estado:</b> {{user.state}}</p>
    </div>
  </div>
  
</div>







<!--Modal editUser-->





<div 
  class="custom-modal-overlay" 
  *ngIf="modalEdit" 
  (click)="closeModalEdit()"
>
  <div  style="padding: 1rem;"
    class="custom-modal-content animate-drop" 
    (click)="$event.stopPropagation()"
  >
    <div class="custom-modal-close" (click)="closeModalEdit()">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>

    </div>
    <div style="width: 100%; height: 6rem; display: flex; justify-content: center;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
    </div>
    <div class="mt-2 custom-modal-title d-flex justify-content-center">
      <h6>Modificar usuario</h6>
    </div>
    <div class="custom-modal-body" style="margin-top: 20px;">
      <!-- Aquí puedes mostrar los datos del usuario -->
       <form action="" [formControl]="userValueEdit">
        <div style="display: flex;">
        <p>Nombre: <input [(ngModel)]="userEdit.name" [ngModelOptions]="{standalone: true}" class="input-edit" type="text" [value]="user.name"></p>
        </div>
        <div style="display: flex;">
        <p>Cedula: <input [(ngModel)]="userEdit.cedula" [ngModelOptions]="{standalone: true}" class="input-edit" type="text" [value]="user.cedula"></p>
        </div>
        <div style="display: flex;">
        <p>Usuario: <input [(ngModel)]="userEdit.user" [ngModelOptions]="{standalone: true}" class="input-edit" type="text" [value]="user.user"></p>
        </div>
        <div style="display: flex;">
        <p>Correo: <input [(ngModel)]="userEdit.email" [ngModelOptions]="{standalone: true}" class="input-edit" type="text" [value]="user.email"></p>
        </div>
        <div style="display: flex;">
        <p>Role: <input [(ngModel)]="userEdit.role" [ngModelOptions]="{standalone: true}" class="input-edit" type="text" [value]="user.role"></p>
        </div>
        <div style="display: flex;">
        <p>Estado: <input [(ngModel)]="userEdit.state" [ngModelOptions]="{standalone: true}" class="input-edit" type="text" [value]="user.state"></p>
        </div>
         <div style="display: flex;">
        <p>Contrasena: <input [(ngModel)]="userEdit.password" [ngModelOptions]="{standalone: true}" class="input-edit" type="password" [value]="user.password"></p>
        </div>
      
        <div style="display: flex; width: 100%; gap: 5px;" class="mt-4">
        <button (click)="closeModalEdit()" style="width: 50%;" type="button" class="btn btn-primary">Cancelar</button>
        <button (click)="saveUser('')" style="width: 50%;" type="button" class="btn btn-primary">Guardar</button>
        </div>
        </form>
    </div>
  </div>
</div>




