<div class="container">
  <div class="header">
    <!-- Botón de volver, ya no funcional sin JS -->
    <h1>Agregar nuevo paciente</h1>
  </div>

  <form class="patient-form">
    <section class="form-section">
      <h2>Información básica del paciente</h2>
      <div class="input-group">
        <label for="nombre-completo">Nombre completo</label>
        <input
          type="text"
          id="nombre-completo"
          placeholder="Manolito Ferragamo"
          value="Manolito Ferragamo"
        />
      </div>
      <div class="input-group">
        <label for="nombre-completo">Edad</label>
        <input
          type="number"
          id="edad"
          placeholder="Edad que tiene el paciente"
        />
      </div>
    </section>

    <section class="form-section">
      <h2>Contacto</h2>
      <div class="input-group">
        <label for="telefono-contacto">Teléfono</label>
        <input
          type="tel"
          id="telefono-contacto"
          placeholder="Ej: +58 412 1234567"
        />
      </div>
    </section>

    <section class="form-section">
      <h2>Identificación</h2>
      <div class="input-group">
        <label for="numero-id">Cedula</label>
        <input
          type="text"
          id="numero-id"
          placeholder="Número de cédula o identificación"
        />
      </div>
    </section>

    <section class="form-section">
      <h2>Información Adicional</h2>
      <div class="input-group">
        <label for="nombre-completo">Direccion</label>
        <input
          type="text"
          id="dirrecion"
          placeholder="Dirrecion que tiene el paciente"
        />
      </div>
      <div class="input-group">
        <label for="nombre-completo">Ocupadocion</label>
        <input
          type="text"
          id="ocupacion"
          placeholder="Ocupacion que tiene el paciente"
        />
      </div>

      <div class="input-group">
  <label>
    <input type="checkbox" [(ngModel)]="tieneEnfermedad" />
    ¿Sufre de alguna enfermedad?
  </label>
</div>
<div
  class="input-group enfermedad-animada"
  [class.show]="tieneEnfermedad"
>
  <label for="notas-adicionales">Describa la enfermedad</label>
  <textarea
    id="enfermedad"
    rows="4"
    placeholder="Especifique una descripción de la enfermedad..."
    [(ngModel)]="descripcionEnfermedad"
  ></textarea>
</div>

    </section>

    <button type="submit" class="submit-button">Guardar paciente</button>
  </form>
</div>
