<aside class="sidebar" [class.sidebar-open]="navVisible">
  <div class="sidebar-header" style="display: flex; align-items: center; justify-content: center; padding: 1rem; margin-bottom: 3rem;">
    <div style="width: 6rem; height: 6rem; border-bottom: 1px solid #000;">
      <img src="logo.png">
      <h2>ATI</h2>
    </div>
  </div>
  <nav class="sidebar-content">
    <ul class="nav-list">
      <ng-container *ngIf="menuItems$ | async as menus">
        <li *ngFor="let item of menus">
          <a [routerLink]="item.path" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            <i class="bx {{ item.icon }} icon"></i>
            <span>{{ item.name }}</span>
          </a>
        </li>
      </ng-container>
      </ul>
    <div class="sidebar-footer">
      <a (click)="showLogoutModal()" class="nav-link" *ngIf="isLoggedIn">
        <i class="bx bx-log-out icon"></i>
        <span style="font-size: .9rem;">Cerrar Sesión</span>
      </a>
    </div>
  </nav>
</aside>

<nav class="tab-link">
  <ng-container *ngIf="menuItems$ | async as menus">
    <a [routerLink]="item.path" routerLinkActive="active" *ngFor="let item of menus">
      <i class="bx {{ item.icon }}"></i>
      <span>{{ item.name }}</span>
    </a>
  </ng-container>
  <a (click)="showLogoutModal()" *ngIf="isLoggedIn">
    <i class="bx bx-log-out"></i>
    <span>Salir</span>
  </a>
</nav>


<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Confirmar Cierre de Sesión</h3>
    </div>
    <div class="modal-body">
      <p>¿Estás seguro de que deseas cerrar tu sesión?</p>
      <p class="timer">Tiempo restante: <span class="timer-count">{{ timerCount }}</span> segundos</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-cancel" (click)="cancelLogout()">Cancelar</button>
      <button class="btn btn-confirm" (click)="confirmLogout()">Cerrar Sesión</button>
    </div>
  </div>
</div>