<!-- Botón para abrir la barra lateral en móvil -->

<button class="sidebar-toggle" (click)="toggleNav()" [class.hide-toggle]="navVisible">☰</button>

<!-- Overlay para cerrar la barra lateral en móvil -->
<div class="sidebar-overlay" *ngIf="navVisible" (click)="closeNav()"></div>

<!-- Barra lateral -->
<aside class="sidebar" [class.sidebar-open]="navVisible">
  <div class="sidebar-header">
    <span class="logo-name">CodingLab</span>
    <button class="close-btn" (click)="closeNav()">×</button>
  </div>
  <nav class="sidebar-content">
    <ul class="nav-list">
      <li>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"  class="nav-link">
          <i class="bx bx-home-alt icon"></i>
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/pacientes']" routerLinkActive="router-link-active" routerLinkActive="router-link-active" class="nav-link">
          <i class="bx bx-group icon"></i>
          <span>Pacientes</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/citas']" routerLinkActive="router-link-active" class="nav-link" routerLinkActive="router-link-active">
          <i class="bx bx-calendar icon"></i>
          <span>Citas</span>
        </a>
      </li>
      <li>
        <a class="nav-link" routerLinkActive="router-link-active">
          <i class="bx bx-chat icon"></i>
          <span>ChatBot</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/usuarios']" routerLinkActive="router-link-active" routerLinkActive="router-link-active" class="nav-link">
          <i class="bx bx-user icon"></i>
          <span>Usuarios</span>
        </a>
      </li>

    </ul>
    <div class="sidebar-footer">
      <a (click)="closeSession()" class="nav-link">
        <i class="bx bx-log-out icon"></i>
        <span>Cerrar Sesión</span>
      </a>
    </div>
  </nav>
</aside>
