<div class="container">
    <form [formGroup]="recorUserForm">
       <div class="form-row">
          <div class="input-data">
             <input formControlName="name" type="text" required>
             <div class="underline"></div>
             <label for="">Nombre Completo</label>
          </div>

          <!-- [(ngModel)]="users.name" [ngModelOptions]="{standalone: true}" -->

          <div class="input-data">
             <input formControlName="cedula" type="text" required>
             <div class="underline"></div>
             <label for="">Cedula</label>
          </div>
       </div>
       <div class="form-row">
          <div class="input-data">
             <input formControlName="email" type="email" required>
             <div class="underline"></div>
             <label for="">Correo Eletronico</label>
          </div>
          <div class="input-data">
            <select name="opcionRol" formControlName="role" class="form-select" aria-label="Default select example">
               <option name="opcionRol" value="paciente">Paciente</option>
               <option name="opcionRol" value="secretario">Secretario</option>
            </select>
          </div>
       </div>

       <div class="form-row">
         <div class="input-data">
            <input formControlName="user" type="text" required>
            <div class="underline"></div>
            <label for="">Usuario</label>
         </div>
         <div class="input-data">
            <input formControlName="password" type="text" required>
            <div class="underline"></div>
            <label for="">Contraseña</label>
         </div>
      </div>
       <div class="form-column">

<button (click)="recordData()" type="button" class="btn btn-primary pt-3 pb-3 px-5"> Registrar Usuario </button>

      </div>   
    </form>

    <style>
      .openModal{
         display: none;
      }
    </style>

<section class="openModal" [ngStyle]="{ display: modalOpen.emptyModalOpen ? 'flex' : 'none' }">
   <div [style]="{background: modalOpen.color ? 'green' : ''}" class="mt-4" style="width: 100%; height: 3rem">
   <div class="alert alert-danger d-flex justify-content-center" style="width: 100%; height: 100%;" role="alert">
   <div class="d-flex justify-content-center" style="width: 100%; height: 100%;">
   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
   <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
   <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
   </svg>
   <p style="margin-left: 5px;">{{modalOpen.message}}</p>
  </div>
</div>
</div>
</section>

</div>
