<section class="openModal" [ngStyle]="{ display: modalOpen.emptyModalOpen ? 'flex' : 'none' }">
   <div [style]="{background: modalOpen.color ? 'green' : ''}" class="mt-4" style="width: 100%; height: 3rem">
   <div class="alert alert-danger d-flex justify-content-center" style="width: 100%; height: 100%;" role="alert">
   <div class="d-flex justify-content-center" style="width: 100%; height: 100%;">
   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
   <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
   <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
   </svg>
   <p style="margin-left: 5px;">{{modalOpen.message}}</p>
</div>
</div>
</div>
</section> 


<div class="signup-form" style="width: 100%; height: 80%; padding: 20px;"> 
      <form [formGroup]="recorUserForm">
		<h3 style="color: #000">Complete para registrar</h3>
		<hr>
        <div class="form-group">
			<div class="row">
                <label style="display: flex; align-items: center;" for="">Usuario: 
                <div class="col"><input [(ngModel)]="user.user" formControlName="user" type="text" class="form-control" name="use" placeholder="Registre su usuario" required="required"></div>
                </label>
                <label style="display: flex; align-items: center;" for="">Cedula:
				<div class="col"><input [(ngModel)]="user.cedula" formControlName="cedula" type="text" class="form-control" name="Ci" placeholder="Registre su cedula" required="required" [minLength]="8"></div>
                </label>
			</div>        	
        </div>
        <div class="form-group">
            <label style="display: flex; align-items: center;" for="">Nombre:    
        	<input [(ngModel)]="user.name" formControlName="name" type="text" class="form-control" name="name" placeholder="Registre su nombre completo" required="required">
            </label> 
        </div>
         <div class="form-group">
            <label style="display: flex; align-items: center;" for="">Correo:
        	<input [(ngModel)]="user.email" formControlName="email" type="email" class="form-control" name="email" placeholder="Ingrese su correo eletronico" required="required">
            </label>
        </div>
         <div class="form-group">

<label for=""></label>Seleciones su Rol
<select [(ngModel)]="user.rol" name="opcionRol" formControlName="role" class="form-select" aria-label="Default select example">
  <option name="opcionRol" value="Administrador">Administrador</option>
  <option name="opcionRol" value="Secretario">Secretario</option>
</select>


        </div>
		<div class="form-group">
            <label style="display: flex; align-items: center;" for="">Contraseña:
            <input [(ngModel)]="user.password" formControlName="password" type="text" class="form-control" name="password" placeholder="Contraseña" required="required">
            </label>
        </div>        
		<div class="form-group" style="margin-bottom: 0;">
            <button (click)="recordData()" type="submit" class="btn btn-primary btn-lg"> Registrar Usuario </button>
        </div>
    </form>

</div>
