@use "tailwindcss";

.chatbot-overlay {
  position: fixed;
  bottom: 100px;
  right: 25px;
  z-index: 999;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 8px; /* Coincide con el radio del chatbot */
  overflow: hidden; /* Asegura que el contenido no se salga */
}